/* .header-menu{
    float: left;
    width: 100%;
    position: fixed;
    background-color: white;
}


.navbar-kg{
    height: 500px;

}

.header-menu img{
    padding-left: 25px;
    margin-top: 10px;
    width: 100px;
}


.navbar-kg h1{
    float: left;
    padding: 25px;
    color: black;
}
.navbar-kg ul{
    float: right;
    padding: 10px;
}

.navbar-kg li{
    float: left;
    list-style-type: none;
    padding: 10px;
}

.navbar-kg li a{
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight:500;
    padding: 10px;
    transition-duration: 0.5s;
}

.navbar-kg li a:hover{
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px inset;
    transition-duration: 0.5s;
}
.navbar-kg{
    float: left;
    width: 100%;
    background-image: url("https://media.licdn.com/dms/image/D5612AQGxY-OTGHtHEA/article-cover_image-shrink_600_2000/0/1682960027549?e=2147483647&v=beta&t=IPZehHke1FwG7ld1DUjI2dzDw4XWr4bQC3v57y9BehE");
    
    background-attachment: fixed;
        background-size: cover;
}

.heading-for-paper{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading-for-paper h1{
    color: white;
    
    font-size: 60px;
}

.about-conference{
    width: 100%;
    float: left;
    margin-top: 100px;
    text-align: justify;
}

.about-conference p{
    font-weight: 500;
    line-height:30px;
    padding: 30px;
}*/
.chiefpatrons{
    background-color: bisque;
}
.patron{
    background-color: bisque;
}
.steeringcommittee{
    background-color: bisque;
}
.conferencechair{
    background-color: bisque;
}
.conferencecochairs{
    background-color: bisque;
}
.publicationchairs{
    background-color: bisque;
}
.organizingcommittee{
    background-color: bisque;
} 
.header-menu {
  float: left;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.header-menu img {
  padding-left: 25px;
  margin-top: 10px;
  width: 100px;
}

.navbar-kg {
  height: 500px;
  background-image: url("https://insuranceday.maritimeintelligence.informa.com/-/media/insurance-day/miscellaneous/insurtech2.jpg?w=790&hash=E33DFFD7C5D04D2CE695128F2D43449F5B5C789F");
  background-attachment: fixed;
  background-size: cover;
}

.heading-for-paper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15pc;
}

.heading-for-paper h1 {
  color: black;
}

.submission {
  padding: 35px;
  margin: 20px;
  float: left;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 0px 10px;
  align-items: center;
}

.submission h6 {
  font-weight: 500;
  line-height: 30px;
  padding: 40px;
}

.about-conference p {
  margin: 20px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 700px) {
  .header-menu {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .header-menu ul {
    display: none;
  }

  .header-menu li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .header-menu a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }

  .conference-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .submission {
    width: 100%;
    padding: 15px;
  }

  .submission h6 {
  
    padding: 15px;
  }
}
hr{
    position: relative;
    z-index: -1;
}
