.header-menu {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-nav{
    margin-left: 20px;
}
.header-menu img {
  padding-left: 25px;
  margin-top: 10px;
  width: 100px;
}
.heading-for-paper {
  margin-top: 100px;
}

.heading-for-paper h1 {
  color: black;
}

.submission {
  padding: 35px;
  margin: 20px;
  height: 150px;
  box-shadow: 0px 0px 10px;
}

.submission h6 {
  font-weight: 500;
}

.about-conference p {
  font-weight: 500;
  line-height: 30px;
  padding: 40px;
}

.aboutconference,
.conferencescope,
.aboutcollege {
  background-color: bisque;
  padding: 10px;
  margin-bottom: 20px;
}
.jumbotron {
  background-image: url("https://i.pinimg.com/originals/91/1e/ef/911eefb0b1b239f0c6d30c0b20761d47.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 50px;
  height: 500px;
  padding: 200px; /* Add padding to adjust content placement */
  color: rgb(
    0,
    0,
    0
  ); /* Add text color for visibility on the background image */

  /* Media queries for responsive adjustments */
  @media (max-width: 968px) {
    padding: 160px;
    font-size: 24px;
  }

  @media (max-width: 576px) {
    padding: 50px;
    padding-top: 150px;
    font-size: 18px;
  }
}
