/* .header-menu{
    top: 0px;
    float: left;
    width: 100%;

    position: fixed;
    background-color: white;
}


.navbar-kg{
    height: 500px;

}

.header-menu img{
    padding-left: 25px;
    margin-top: 10px;
    width: 100px;
}

.navbar-kg ul{
    float: right;
    padding: 10px;
}

.navbar-kg li{
    float: left;
    list-style-type: none;
    padding: 10px;
}
.navbar-kg li a{
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight:500;
    padding: 10px;
    transition-duration: 0.5s;
}

.navbar-kg li a:hover{
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px inset;
    transition-duration: 0.5s;
}

.conference-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.navbar-kg{
    float: left;
    width: 100%;
    background-image: url("/images/header-bg.jpg");
    background-attachment: fixed;
        background-size: cover;
}

.conference-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.navbar-kg{
    float: left;
    width: 100%;
    background-image: url(" https://images.static-collegedunia.com/public/college_data/images/campusimage/1453702848mini-20.jpg");
    background-attachment: fixed;
        background-size: contain;
}

.heading-for-paper{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;
}

.heading-for-paper h1{
    color: white;
}


.submission{
    padding: 35px;
    margin: 20px;
    float: left;
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0px 0px 10px;
    align-items: center;
}

.submission h6{
    font-weight: 500;
    line-height:25px;
    padding: 40px;
}

.submission iframe{
    width: 400px;
} */
/* .header-menu{
    float: left;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
}

.header-menu img{
    padding-left: 25px;
    margin-top: 10px;
    width: 100px;
}


.navbar-kg{
    height: 500px;

}

.navbar-kg h5{
    float: left;
    padding: 10px;
    color: black;
}
.navbar-kg ul{
    float: right;
    padding: 10px;
}

.navbar-kg li{
    float: left;
    list-style-type: none;
    padding: 10px;
}

.navbar-kg li a{
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight:500;
    padding: 10px;
    transition-duration: 0.5s;
}

.navbar-kg li a:hover{
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px inset;
    transition-duration: 0.5s;
}

.navbar-kg{
    float: left;
    width: 100%;
    background-image: url("https://semidotinfotech.com/blog/wp-content/uploads/2020/08/IoT-and-AI-1.jpg");
    background-attachment: fixed;
        background-size: cover;
}

.heading-for-paper{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;
}

.heading-for-paper h1{
    color: white;
}
 */
.navbar-kg {
  height: 500px;
  background-image: url("https://semidotinfotech.com/blog/wp-content/uploads/2020/08/IoT-and-AI-1.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.heading-for-paper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15pc;
}

.heading-for-paper h1 {
  color: rgb(255, 255, 255);
}

.submission img {
  margin: 20px;
  padding: 30px;
  width: 400px;
  box-shadow: 0px 0px 10px;
}

.submission h5 {
  padding-left: 30px;
  line-height: 40px;
}

.submission p {
  padding-left: 30px;
  line-height: 25px;
  font-weight: 500;
  text-align: justify;
}

.submission ul {
  font-weight: 500;
}
.johndhaynes {
  background-color: bisque;
}
.petermatkinson {
  background-color: bisque;
}
.duraisamybalaganesh {
  background-color: bisque;
}
.BremananthRamachandran {
  background-color: bisque;
}
.RajaSreedharan {
  background-color: bisque;
}
.conference-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}